#app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  max-width: 300px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  font-family: 'Nunito';
}
body {
	background: #353A40;
}
button {
	font-size: 50px;
}