<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Don don ziki</title>
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap" rel="stylesheet">
</head>
<body>
	<div id="app">
	  <h1>
	    <i class="fa fa-2x fa-fw" v-bind:class="computedUser"></i>
	    <i class="fa fa-2x fa-fw" v-bind:class="computedRand"></i>
	  </h1>

	  <div>
	  	<h1 v-if="not_removed"> Don don ziki Game </h1>
	  	<h3 v-if="not_removed">How many cycles the should be?</h3>
	  	<input v-if="not_removed" @keyup.enter="remove_input()" placeholder="Enter number..." v-model="(number)"  type="number">
	  	<br>
	    <button v-cloak v-if="!not_removed" @click="choose('rock')">
	      <i class="fa fa-hand-rock-o"></i>
	    </button>

	    <button v-cloak v-if="!not_removed" @click="choose('paper')">
	      <i class="fa fa-hand-paper-o"></i>
	    </button>

	    <button v-cloak v-if="!not_removed" @click="choose('scissors')">
	        <i class="fa fa-hand-scissors-o"></i>
	    </button>
	  </div>
	  <h1 v-if="!not_removed" v-cloak id="score">{{ userScore }} - {{ computerScore }}</h1>
	  <h4 v-cloak>{{ message }}</h4>
	</div>
	<script src="./js/vue-script.js"></script>
	<script src="./js/script.js"></script>
	
</body>
</html>